.fact-card-container {
  width: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.fact-card {
  background-color: hsl(156, 19%, 95%);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  display: block;

  &__date {
    font-size: 12px;
  }

  &__text {
    font-size: 16px;
  }
}

/* for this rule to apply, the min screen with has to be 768px */
@media only screen and (min-width: 768px) {
  .fact-card-container {
    grid-template-columns: 1fr 1fr;
  }
}
